*{
    font-family: 'Poppins';
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color:transparent;
    box-sizing: border-box; 
    color: #000;
    list-style-type: none;
    text-decoration: none;
}
html {
    font-size: 62.5%; 
    scroll-behavior: smooth;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 25px;
}

/* Navbar */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    margin: 4rem;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 4.1rem;
    margin: 0;
}

nav ul li a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-size: 1.6rem;
    position: relative;
}

nav ul li a.active:before {
    position: absolute;
    content: "";
    width: 35%;
    height: 1px;
    border-bottom: 2px solid black;
    bottom: -6px;
}

nav ul li a:before {
    position: absolute;
    content: "";
    width: 0%;
    height: 1px;
    border-bottom: 2px solid rgb(122, 122, 122);
    bottom: -6px;
    transition: width .3s;
}
.menu-bar{
    display: none;
}
.mobile-div{
    display: none;
}

/* Hero Section */

main {
    display: flex;
    gap: 8em;
    margin-top: 11em;
}

.left-col {
    width: 45%;
}
.right-col {
    flex-grow: 1;
}

.left-col h1 {
    font-size: 5.2rem;
    font-family: 'Playfair Display';
    font-weight: normal;
    margin: 0;
}

.subhead {
    font-size: 1.8rem;
}

.cta-btns {
    margin: 5em 0;
    display: flex;
    flex-wrap: wrap;

}

.cta-btns, .secondary-cta {
    display: flex;
    gap: 2em;
}

.primary-cta {
    background-color: #F1E2D1;
    font-size: 1.8rem;
    font-weight: bold;
    color: black;
    text-decoration: none;
    border-radius: 1.9em;
    padding: 1em 2em;
    display: flex;
    align-items: center;
}

.secondary-cta {
    font-size: 1.8rem;
    text-decoration: none;
    color: black;
    display: block;
    padding: 1em 2em;
}

.secondary-cta svg {
    width: 20px;
    transition: transform .3s;
}

.news {
    display: flex;
    gap: 3em;
    padding: 5em;
    border: 1px solid black;
    border-radius: .8em;
    position: relative;
}

.news:before {
    position: absolute;
    content: "";
    background: url('../image/confetti.svg');
    width: 100px;
    height: 100px;
    top: -20px;
    left: -20px;
    z-index: 2;
}

.news .employees {
    font-size: 3.3rem;
    margin: 0;
    font-weight: 200;
    line-height: 100%;
}

.news .details {
    font-size: 1.4rem;
    margin: 0;
}

/* Right column gallery */

.right-col {
    display: grid;
    gap: 2.3em;
    grid-template-columns: repeat(2,auto);
    grid-template-areas:
        "left ."
        "left .";
}

.card {
    border-radius: .8em;
    padding: 1.1em;
    display: flex;
    align-items: end;
    background-size: 100%;
    transition: background-size 800ms;
}

.card1 {
    grid-area: left;
    background-image: url('../image/clothing1.jpg');
    position: relative;
}

.card1:before {
    position: absolute;
    content: "";
    background: url('../image/tag.svg') no-repeat;
    width: 100%;
    height: 100%;
    top: 20px;
    left: -30px;
    pointer-events: none;
}
.card2 {
    background-image: url('../image/clothing2.jpg');
}
.card3 {
    background-image: url('../image/clothing3.jpg');
}

.card-details {
    background: white;
    border-radius: .6em;
    padding: 2em;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: transform 800ms;
}

.card-details a {
    color: black;
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: bold;
}
.card-details p {
    font-size: 1.4rem;
    margin: 0;
}
p.product-price {
    font-size: 1.8rem;
}

/* Microinteractions */

nav ul li a:hover:before {
    width: 35%;
}

.primary-cta:hover {
    background: #E2D1BD;
}

.secondary-cta:hover svg {
    transform: translateX(10px);
}

.secondary-cta:hover {
    text-decoration: underline;
}

.card:hover {
    background-size: 160%;
}

.card:hover .card-details {
    transform: translateY(-20px);
}

/* Intro Animation */

.overlay {
    position: absolute;
    z-index: 999;
    background: white;
    width: 100%;
    height: 100%;
    animation: reveal 1s ease-in forwards;
    transform-origin: bottom;
}

@keyframes reveal {
    from {
        transform: scaleY(1);
    }
    to {
        transform: scaleY(0);
    }
}

main {
    animation: growIn 2s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
    transform: scale(.4);
}

@keyframes growIn {
    to {
        transform: scale(1);
    }
}

/* media queries */
@media(max-width:950px){
    .wrapper{
        padding: 0px;
    }
    header{
        padding: 10px;
        justify-content: space-between;
        align-items: start;
    }
    nav ul{
        display: none;
    }
    .mobile{
        display: block;
        cursor: pointer;
        position: relative;
    }
    .menu-bar {
        display: block;
        cursor: pointer;
    }
    .menu-bar i{
        font-size: 28px;
    }
    .mobile-div{
        background: black;
        width: 50%;
        height: 30vh;
        position: absolute;
        right: 2px;
        padding: 10px;
        border-radius: 12px;
        z-index: 99999;
        display: none;
        opacity: 0;
        transition: .5s all ease-in-out;
    }
    .mobile-div.active {
        display: block;
        opacity: 1;
    }
    .mobile-div i{
        color: #fff;
        float: right;
        font-size: 40px;
        cursor: pointer;
    }
    .mobile-div ul{
        margin-top: 40px;
        padding: 10px;
    }
    .mobile-div ul li{
        margin-bottom: 10px;
    }
    .mobile-div ul li a{
        font-size: 20px;
        color: #ffff;
    }
    main{
        margin-top: 0rem;
        overflow: hidden;
        flex-direction: column;
        margin-bottom: 12px;
        /* justify-content: center; */
        /* align-items: center; */
    }
    .wrapper {
        max-width: 100%;
        margin: 0;
    }
    .left-col {
        padding: 10px;
        width: 100%;
    }
    .left-col h1{
        font-size: 3.5rem;
    }
    .subhead{
        margin-top: 3rem;
        font-size: 1.7rem;
    }
    .primary-cta{
        font-size: 1.5rem;
        font-weight:500;
    }
    .secondary-cta{
        font-size: 1.5rem;
    }

    .news{
        align-items: center;
    }
    .news::before{
        top: 2px;
        left: -2px;
    }
    .news .details{
        font-size: 1.3rem;
    }
    .right-col{
        padding: 2rem;
    }
}